.task1-nav-logo {
    display: flex;
    justify-content: space-between; 
}



.task1NavBar {
    display: flex;
    justify-content: space-between;
}

.navOnHover:hover {
    color: #ff6f00;
}


@media only screen and (max-width: 600px) {
    .task1NavBar {
        flex-wrap: wrap;
    }
}